.footer {
  margin-top: auto;
  text-align: center;

  .social-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    color: #333;
    margin-right: 20px;
  }
}
